<section class="about">
    <div class="content">
      <img src="https://cdn.pixabay.com/photo/2021/10/11/04/08/university-6699377_640.jpg" alt="About Us" />
      <div>
        <h2>About Us</h2>
        <p>We are dedicated to sharing insights and driving innovation across industries.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad hic culpa in similique sequi at eligendi sunt nihil magni illo, vel soluta, eos illum dolores dignissimos dolorem vitae voluptatem ipsa.
        </p>
      </div>
    </div>
  </section>
  